body {
  font-size: 140%;
  background: #F9F9F9;
  color: #252525;
  margin: 2rem 1rem;
  font-family: serif;
  line-height: 1.2rem;
}

h1, h2, h3 {
  font-family: sans-serif;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin: 1rem 0;
}

hr {
  margin: 1rem;
}

i {
  font-style: normal;
  background: #252525;
}
